<%- include('../partials/sidebar.ejs'); %>
    <main class="pt-6">
        <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-white border-4 border-green-400">
            <h1 class="mt-6 font-bold text-xl">nueva categoria</h1>
            <form action="/categories/add" method="POST " class="w-full max-w-lg mt-6">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                    <% } %>
                    
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                            nombre de la categoria
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="nombres" type="text" placeholder="">
                    </div>
                    <div class="w-full md:w-1/2 px-3 mt-6">
                        <button type="submit" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                          Sign Up
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
<%- include('../partials/footer.ejs'); %>